In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('vehicles.csv')

In [3]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [4]:
data.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [5]:
data.drop_duplicates(inplace = True)

In [8]:
data.isnull().any()

id              False
url             False
region          False
region_url      False
price           False
year             True
manufacturer     True
model            True
condition        True
cylinders        True
fuel             True
odometer         True
title_status     True
transmission     True
VIN              True
drive            True
size             True
type             True
paint_color      True
image_url        True
description      True
county           True
state           False
lat              True
long             True
posting_date     True
dtype: bool

In [12]:
data.isnull().sum()/data.shape[0]

id              0.000000
url             0.000000
region          0.000000
region_url      0.000000
price           0.000000
year            0.002823
manufacturer    0.041337
model           0.012362
condition       0.407852
cylinders       0.416225
fuel            0.007058
odometer        0.010307
title_status    0.019308
transmission    0.005988
VIN             0.377254
drive           0.305863
size            0.717675
type            0.217527
paint_color     0.305011
image_url       0.000159
description     0.000164
county          1.000000
state           0.000000
lat             0.015342
long            0.015342
posting_date    0.000159
dtype: float64

In [15]:
thresh = len(data)*.6

In [17]:
data.dropna(thresh=thresh, axis = 1).shape

(426880, 22)

In [3]:
data.dropna(thresh=21, axis = 1).shape

(426880, 25)

In [8]:
data.odometer.fillna(data.odometer.median()).isnull().any()

False

In [11]:
data.odometer.fillna(data.odometer.mean()).isnull().any()

False

In [16]:
data.describe

<bound method NDFrame.describe of                 id                                                url  \
0       7222695916  https://prescott.craigslist.org/cto/d/prescott...
1       7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2       7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3       7222270760  https://worcester.craigslist.org/cto/d/west-br...
4       7210384030  https://greensboro.craigslist.org/cto/d/trinit...
...            ...                                                ...
426875  7301591192  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426876  7301591187  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426877  7301591147  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426878  7301591140  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426879  7301591129  https://wyoming.craigslist.org/ctd/d/atlanta-2...

                        region                         region_url  price  \
0                     prescott    https://prescott.craigslist.org   6000
1                 fayetteville       https://fayar.craigslist.org  11900
2                 florida keys        https://keys.craigslist.org  21000
3       worcester / central MA   https://worcester.craigslist.org   1500
4                   greensboro  https://greensboro.craigslist.org   4900
...                        ...                                ...    ...
426875                 wyoming     https://wyoming.craigslist.org  23590
426876                 wyoming     https://wyoming.craigslist.org  30590
426877                 wyoming     https://wyoming.craigslist.org  34990
426878                 wyoming     https://wyoming.craigslist.org  28990
426879                 wyoming     https://wyoming.craigslist.org  30590

          year manufacturer                     model condition    cylinders  \
0          NaN          NaN                       NaN       NaN          NaN
1          NaN          NaN                       NaN       NaN          NaN
2          NaN          NaN                       NaN       NaN          NaN
3          NaN          NaN                       NaN       NaN          NaN
4          NaN          NaN                       NaN       NaN          NaN
...        ...          ...                       ...       ...          ...
426875  2019.0       nissan         maxima s sedan 4d      good  6 cylinders
426876  2020.0        volvo  s60 t5 momentum sedan 4d      good          NaN
426877  2020.0     cadillac          xt4 sport suv 4d      good          NaN
426878  2018.0        lexus           es 350 sedan 4d      good  6 cylinders
426879  2019.0          bmw  4 series 430i gran coupe      good          NaN

        ... size       type paint_color  \
0       ...  NaN        NaN         NaN
1       ...  NaN        NaN         NaN
2       ...  NaN        NaN         NaN
3       ...  NaN        NaN         NaN
4       ...  NaN        NaN         NaN
...     ...  ...        ...         ...
426875  ...  NaN      sedan         NaN
426876  ...  NaN      sedan         red
426877  ...  NaN  hatchback       white
426878  ...  NaN      sedan      silver
426879  ...  NaN      coupe         NaN

                                                image_url  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
426875  https://images.craigslist.org/00o0o_iiraFnHg8q...
426876  https://images.craigslist.org/00x0x_15sbgnxCIS...
426877  https://images.craigslist.org/00L0L_farM7bxnxR...
426878  https://images.craigslist.org/00z0z_bKnIVGLkDT...
426879  https://images.craigslist.org/00Y0Y_lEUocjyRxa...

                                              description county state  \
0                                                     NaN    NaN    az
1                                                     NaN    NaN    ar
2                                                     NaN    NaN    fl
3                                                     NaN    NaN    ma
4                                                     NaN    NaN    nc
...                                                   ...    ...   ...
426875  Carvana is the safer way to buy a car During t...    NaN    wy
426876  Carvana is the safer way to buy a car During t...    NaN    wy
426877  Carvana is the safer way to buy a car During t...    NaN    wy
426878  Carvana is the safer way to buy a car During t...    NaN    wy
426879  Carvana is the safer way to buy a car During t...    NaN    wy

              lat       long              posting_date
0             NaN        NaN                       NaN
1             NaN        NaN                       NaN
2             NaN        NaN                       NaN
3             NaN        NaN                       NaN
4             NaN        NaN                       NaN
...           ...        ...                       ...
426875  33.786500 -84.445400  2021-04-04T03:21:31-0600
426876  33.786500 -84.445400  2021-04-04T03:21:29-0600
426877  33.779214 -84.411811  2021-04-04T03:21:17-0600
426878  33.786500 -84.445400  2021-04-04T03:21:11-0600
426879  33.779214 -84.411811  2021-04-04T03:21:07-0600

[426880 rows x 26 columns]>

In [18]:
data.cylinders.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: cylinders, dtype: object

In [19]:
data.cylinders.head().dtype

dtype('O')

In [20]:
data.cylinders.value_counts()

6 cylinders     94169
4 cylinders     77642
8 cylinders     72062
5 cylinders      1712
10 cylinders     1455
other            1298
3 cylinders       655
12 cylinders      209
Name: cylinders, dtype: int64